.contact{
    z-index:300;
    display: none;
    top: 0;
    right: -50%;
    height: 100vh;
    width: 50%;
    border-radius: 1rem;
    transition: right .3s ease-in;
    .submitBtn{
        letter-spacing: 2px;
        border-width: 2px;

    }
    &--active{
        display: block;
        right:0;
    }
    
}
.activatorBtn{
    position: fixed;
    top:0;
    right:0;
    background-color: transparent;
    padding: 1rem;
    &--active{
        right:50%;
    }
}
