
.carousel-item{
    max-width:700px;
    height: 350px;
    
    &.captions{
        display:flex;
        justify-content: space-between;
        &.carousel-caption{
            width: 50%;
        }  
    }
  
  .img2{
      float:Right;
  }
  img{
      width: 50%;
    }
.titles{
    position: relative;
    &.title1{
        position: absolute;
        top:20%;
        left: 0;
    }
    &.title2{
        position: absolute;
        top:20%;
        right: 0;
    }
}

}